img{
    width: 250px; 
}

button{
    width: 100%;
}
.bigText{
    font-size: 2rem;
}

.titleText{
    font-size: 1.2rem;
}

@media(max-width: 600px){

    img{
        width: 140px; 
    }
    .bigText{
        font-size: 1.5rem;
    }
    
    .titleText{
        font-size: 1rem;
    }

}
    
